.grid-layout {
    padding: 50px 0;
    display: grid;
    max-width: 100%;
    grid-gap: 60px;
    margin: 0 auto;
    width: 95%;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    text-align: center;
}

.card {
    min-width: 180px;
    max-width: 400px;
    display: inline-block;
}

mat-card-content img {
    width: 100%;
}

mat-card-header {
    display: block;
}

@media only screen and (max-width: 600px) {
    mat-card-content img {
        width: 65%;
    }
}

mat-toolbar img {
    height: 100%;
    margin-right: 10px;
}

mat-label {
    margin-right: 10px;
}

.search-box {
    margin-right: 30px;
}

.search-input {
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
    padding: 2px 5px 2px 20px;
    width: 270px;
    border-radius: 50px;
    border: none;
    outline: none !important;
    background: white;
    height: 40px;
}

.close-button {
    margin-left: -35px;
}